{% extends 'base.html' %}

{% block content %}

    <div class="container mt-5" style="max-width: 480px">
        {% if user.is_authenticated %}
            <div class="row mt-3">
                <div class="col align-self-center text-center">
                    <strong>ATENÇÃO:</strong> Você já está logado!
                </div>
            </div>
            <div class="row mt-3">
                <div class="col align-self-center text-center">
                    <p>Para retornar ao início: <a href="{% url 'usuarios:index' %}" style="text-decoration: none">Clique aqui!</a> </p>
                </div>
            </div>
        {% else %}
            <div class="rounded bg-info text-white">
                <div class="row mt-3">
                    <div class="col align-self-center text-center mt-5">
                        <h5>CRIE SEU CADASTRO:</h5>
                    </div>
                </div>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col my-3 mx-5">
                            <input
                                    type="text"
                                    name="txtUsername"
                                    class="form-control"
                                    placeholder="Informe seu nome de usuário *"
                                    required
                            >
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3 mx-5">
                            <input
                                    type="password"
                                    name="txtPassword"
                                    class="form-control"
                                    placeholder="Informe sua senha *"
                                    required
                            >
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3 mx-5">
                            <input
                                    type="email"
                                    name="txtEmail"
                                    class="form-control"
                                    placeholder="Informe o seu e-mail *"
                                    required
                            >
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3 mx-5">
                            <input
                                    type="txt"
                                    name="txtFirstName"
                                    class="form-control"
                                    placeholder="Informe o seu nome"
                            >
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-2 mx-5">
                            <input
                                    type="txt"
                                    name="txtLastName"
                                    class="form-control"
                                    placeholder="Informe o seu sobrenome"
                            >
                        </div>
                    </div>
                    <div class="row">
                        <div class="col d-flex justify-content-left mx-5">
                            <p style="font-size: 0.9em">Os campos com * são obrigatórios.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col d-flex justify-content-center mb-3">
                            <button class="btn btn-primary" type="submit">Cadastrar</button>
                        </div>
                    </div>
                </form>
            </div>
        {% endif %}
    </div>

{% endblock %}